RewriteEngine On

RewriteBase /
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
# av:PHP-upload
php_value upload_max_filesize 15M
php_value post_max_size 15M
php_value max_input_time 300

# PHP-upload
